.btn{
    margin-right:5px;

}

.markedAsDone{
    text-decoration: line-through;
    color: '#777'
}

.todoActions{
    width: 105px;
}

.todoForm{
    padding-bottom: 60px;
}

.page-header h2{
    font-weight: bold
}

.page-header small{
    font-size: 16px
}